POSTGRES_USER=root
POSTGRES_PASSWORD=123456
POSTGRES_DB=funtory
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=123456
COMPOSE_PROJECT_NAME=funtory
SERVER_ADDRESS=:8080
DB_TYPE="postgres"
DB_HOST=postgres
DB_PORT=3306
DB_USER=root
DB_PASS=123456
DB_NAME=funtory
PROXY_ENABLED=true
PROXY_URL=socks5://127.0.0.1:2080