POSTGRES_USER=root
POSTGRES_PASSWORD=123456
POSTGRES_DB=funtory
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=123456
COMPOSE_PROJECT_NAME=funtory
SERVER_ADDRESS=:3000
DB_TYPE="postgres"
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASS=123456
DB_NAME=funtory
PROXY_ENABLED=true
PROXY_URL=socks5://127.0.0.1:2080
QRCODE_SSE_TIME_OUT=60
QRCODE_SSE_SEND_LIMIT=5